/*

Theme Name: IEI
Theme URI: https://smoothdevelopments.com.au/
Author: Smooth Developments
Author URI: https://smoothdevelopments.com.au/
Description: Custom theme for IEI
Version: 1.0.0
Template: pro

*/

